.mainDiv {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskTitle {
    /* display: inline;
    position: relative;
    left: 10px; */
    text-align: left;
    /* background-color: red; */
    width: 70%;
}

.taskComplete {
    /* display: inline;
    position: relative;
    left: 10px; */
    text-align: left;
    /* background-color: red; */
    width: 70%;
    text-decoration: line-through;
}

.delete {
    /* position: absolute; */
    /* background-color: blue; */
    cursor: pointer;
    margin-bottom: 10px;
    /* right: 10%; */
    /* bottom: 10px; */
}

@media screen and (min-width: 1200px) {
    .mainDiv {
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
        margin-bottom: 10px;
        min-width: 300px;
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
  }